.main
  .main__box

    .main__box__youtube

      .main__box__youtube__edit
        = link_to edit_lesson_path(@lesson) do
          Edit

      .main__box__youtube__lesson-title
        = @lesson.name

      .main__box__youtube__youtube-position
        - if @lesson.id == 1
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0l-KNDus3Ho" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        - elsif @lesson.id == 2
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oPV1RmqgPo4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        - elsif @lesson.id == 3
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/qpN8qNU3R6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        - elsif @lesson.id == 4
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/o_x5ZrnrUJQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        - elsif @lesson.id == 5
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/a_ZN9X8jNTY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/yyCNuKRTrTY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        - elsif @lesson.id == 6
        

    .main__box__chat
      .messages
        = render @messages

      -# .main__box__chat__name
      -#   = lesson.user.name
      -#   .main__box__chat__name__time
      -#     = lesson.current_at.strftime("%Y年%m月%d日 %H時%M分")
      -# .main__box__chat__text
      -#   - if message.content.present?
      -#     %p.lower-message__content
      -#       = message.content
      -#   = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

  .main__footer
    
    .main__footer__message-form
      = form_for [@lesson, @message] do |f|
        .main__footer__message-form__text
          = f.text_field :content, class: "form__message", placeholder: "type a message"
        .main__footer__message-form__send-btn
          = f.submit "Send", class: "form__submit"
